body{
  background-color: #F7F7F5;
  padding-top: 130px;
  padding-right: 7%;
  padding-left: 7%;
  font-family: 'Gotu', sans-serif ;
  
}

header{
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 2.5%;
  padding-bottom: 85px;

}

main{
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 2.5%;
  padding-bottom: 85px;
}

.services{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2.5%;
  padding-bottom: 85px;
}

.social{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2.5%;
  padding-bottom: 30px;
}

footer{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 2.5%;
  padding-bottom: 130px;
  font-size: 13pt;

}

.content{
  font-size: 23pt;
  line-height: 32pt;
}

.menu {
  text-align: right;
  font-size: 18pt;

}

#menu-spacing {
  padding-left: 4%;
}

.service0 {
  font-family: 'Muli', sans-serif;
  font-size: 14pt;
  letter-spacing: .16em;
  
}

.service1 {

  font-size: 18pt;
  

}

.service2 {
  
  font-size: 18pt;

}

.service1 > .nested2{

  line-height: 33pt;

}

.service2 > .nested2{
  
  line-height: 33pt;

  }

.social0 {
  font-family: 'Muli', sans-serif;
  font-size: 14pt;
  letter-spacing: .16em;
}


.bioimages{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2.5%;
  row-gap: 30px;
  grid-auto-rows: 470px;
  padding-bottom: 40px;
}

.images{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2.5%;
  row-gap: 30px;
  grid-auto-rows: 235px;
  padding-bottom: 85px;
}


.image{
  background-color: #C6C6C6;
}

.bioimage{
  background-color: #C6C6C6;
}

.footer-note{
  line-height: 19pt;
}

.buttons{
  line-height: 25pt;
}

#navlink {

  padding-bottom: 7px;

}

#navlink:hover {
  border-bottom: 3pt solid #588AA4;
  
}

a {

  text-decoration: none;
  color: #000000;
  
}

.biotxt{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2.5%;
  row-gap: 30px;
  padding-bottom: 85px;
}

.bioheading{

  font-family: 'Muli', sans-serif;
  font-size: 14pt;
  letter-spacing: .16em;
  padding-bottom: 40px;

}

.active {
  
  border-bottom: 3pt solid #588AA4;
  
}

nav {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background: #F7F7F5;
  height: 100px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-top: 25px;
  column-gap: 2.5%;
  transition: visibility 0s, opacity 0.5s linear;
}

.nav-up {
  top: -160px;
}